.b-timeline
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 9px;

    font-weight: 200;

    height: 100%;

    position: relative;

    width: 100%;
}

.b-timeline__timeframes
{
    bottom: 0;

    left: 0;

    overflow: hidden;

    position: absolute;

    right: 0;

    top: 0;
}

.b-timeline__timeframe
{
    background-color: #fff;

    bottom: 0;

    position: absolute;

    top: 0;

    -webkit-transition: background-color .2s;
       -moz-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;
}

.b-timeline__timeframe_loading
{
    -webkit-animation: stripes 1s linear infinite;
       -moz-animation: stripes 1s linear infinite;
        -ms-animation: stripes 1s linear infinite;
         -o-animation: stripes 1s linear infinite;
            animation: stripes 1s linear infinite;

    background-color: #e7e7e7;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 70px 70px;
}

.b-timeline__timeframe_loading .b-timeline__future-overlay
{
    opacity: 0;
}

@-webkit-keyframes stripes {
    from { background-position: 70px 0; }
      to { background-position: 0 0; }
}

@-moz-keyframes stripes {
    from { background-position: 70px 0; }
      to { background-position: 0 0; }
}

@-ms-keyframes stripes {
    from { background-position: 70px 0; }
      to { background-position: 0 0; }
}

@-o-keyframes stripes {
    from { background-position: 0 0; }
      to { background-position: 70px 0; }
}

@keyframes stripes {
    from { background-position: 70px 0; }
      to { background-position: 0 0; }
}

.b-timeline__error-wrapper
{
    left: 0;

    position: absolute;

    right: 0;

    text-align: center;

    top: 20px;

    z-index: 4;
}

.b-timeline__error
{
    background: #ffb6b0;

    border-radius: 10px;

    color: #004f7d;

    cursor: pointer;

    font-size: 13px;

    margin: 0 auto;

    opacity: .8;

    padding: 3px 10px;
}

.b-timeline__error:hover
{
    opacity: 1;

    text-decoration: underline;
}

.b-timeline__tick
{
    border-left: 1px solid #f5f5f5;

    bottom: 0;

    position: absolute;

    top: 0;
}

.b-timeline__tick:first-child
{
    border-color: #dadada;
}

.b-timeline__tick span
{
    margin: 2px;
}

.b-timeline__events-wrapper
{
    left: 0;

    position: absolute;

    right: 0;

    top: 50%;
}

.b-timeline__events
{
    position: relative;
}

.b-timeline__future-overlay
{
    background: #eee;

    bottom: -1000px;

    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    position: absolute;

    right: 0;

    top: -1000px;

    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;

    z-index: 2;
}

.b-timeline__event
{
    background: orange;

    height: 10px;

    position: absolute;

    z-index: 1;
}

.b-timeline__event:before
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.1, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,.17)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.17) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.17) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.17) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.17) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,.17) 100%);

    content: '';

    height: 10px;

    position: absolute;

    width: 100%;
}

.b-timeline__event-overlay
{
    cursor: pointer;

    font-size: 11px;

    padding-top: 12px;

    position: absolute;

    white-space: nowrap;

    z-index: 3;
}

.b-timeline__event_type_point
{
    border-radius: 8px;

    height: 16px;

    margin-left: -8px;

    width: 16px;
}

.b-timeline__event_type_point:before
{
    border-radius: 8px;

    height: 16px;
}

.b-timeline__event-overlay_type_point
{
    height: 16px;

    margin-left: -8px;

    padding: 2px 0 0 20px;
}

.b-timeline__event_type_unfinished
{
    -webkit-animation: stripes-small 1s linear infinite;
       -moz-animation: stripes-small 1s linear infinite;
        -ms-animation: stripes-small 1s linear infinite;
         -o-animation: stripes-small 1s linear infinite;
            animation: stripes-small 1s linear infinite;

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

@-webkit-keyframes stripes-small {
    from { background-position: 20px 0; }
      to { background-position: 0 0; }
}

@-moz-keyframes stripes-small {
    from { background-position: 20px 0; }
      to { background-position: 0 0; }
}

@-ms-keyframes stripes-small {
    from { background-position: 20px 0; }
      to { background-position: 0 0; }
}

@-o-keyframes stripes-small {
    from { background-position: 0 0; }
      to { background-position: 20px 0; }
}

@keyframes stripes-small {
    from { background-position: 20px 0; }
      to { background-position: 0 0; }
}

.b-timeline__event_type_unfinished:after
{
    border: 5px solid transparent;

    border-left-color: #333;

    content: '';

    height: 0;

    left: 100%;

    margin-left: 3px;

    position: absolute;
}
