.b-timeline
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 9px;

    font-weight: 200;

    height: 100%;

    position: relative;

    width: 100%;
}

.b-timeline__timeframes
{
    bottom: 0;

    left: 0;

    overflow: hidden;

    position: absolute;

    right: 0;

    top: 0;
}

.b-timeline__timeframe
{
    bottom: 0;

    position: absolute;

    top: 0;
}

.b-timeline__tick
{
    border-left: 1px solid #eee;

    bottom: 0;

    position: absolute;

    top: 0;
}

.b-timeline__tick span
{
    margin: 2px;
}

.b-timeline__events-wrapper
{
    left: 0;

    position: absolute;

    right: 0;

    top: 50%;
}

.b-timeline__events
{
    position: relative;
}

.b-timeline__future-overlay
{
    background: #eee;

    bottom: -1000px;

    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

    position: absolute;

    right: 0;

    top: -1000px;

    z-index: 2;
}
